@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media only screen and (max-width: 600px) {


  aside{
    display: none;
    visibility: hidden;
  }


  #BottomBar{

    display: flex;
  }


}@media only screen and (max-width: 470px) {


#content{

white-space: pre-line;
overflow-wrap: break-word;

}
  #Allcontainer{
    width: 75%;

  }

}
@media only screen and (max-width: 370px) {


  #Allcontainer {

    padding-left: 0;

  }
}


